h2 {
  text-align: center;
}

.App{
  display : flex;
  justify-content : space-around;
  font-family: AvertaStd, -apple-system, BlinkMacSystemFont, sans-serif
}

.App > *:nth-child(1){
 width : 40%;
}

.App > *:nth-child(2){
width : 35%;
margin-bottom : 100px;
}

